.container{
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-rows: auto 1fr auto;
}

header{
  width: 100vw;
  display: grid;
  place-items: center;
}

header > h1 {
  margin: 0;
  padding: 0;
}


.App{
  max-width: 800px;
}


.art-piece {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  place-items: center;
}

.art-piece  img {
  width: 320px;
  object-fit: cover;
}

.artist-information {
  display: grid;
  place-items: center;
}


@media (max-width: 450px) {
  .art-piece  img {
    width: 280px;
    object-fit: cover;
  }
}

footer{
  min-width: 100vw;
}